/*Plugins Stylesheet */
.authorSocial ul {
    margin: 0;
    padding: 0;
}

.authorSocial ul li{
	list-style: none !important;
	float: left;
}

.authorSocial ul .socialLinkName a {
    background: #967ADC none repeat scroll 0 0;
    border-left: 1px solid;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 1px 6px 0 5px;
}

.face {
    background: rgb(51, 153, 255) none repeat scroll 0 0;
    border-radius: 0 0 0 10px;
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
    padding: 6px;
    text-align: center;
    width: 26px;
}

.goog {
    background: rgb(252,110,81) none repeat scroll 0 0;
    border-radius: 0 0 0 10px;
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
    padding: 6px;
    text-align: center;
    width: 26px;
}

.twit {
    background: rgb(50,205,253) none repeat scroll 0 0;
	border-radius: 0 0 0 10px;
	border-right: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	margin-left: 5px;
	padding: 6px;
	text-align: center;
	width: 26px;
}

.socialLinkFacebook span {
    background: rgb(51, 153, 255) none repeat scroll 0 0;
    border-radius: 0 10px 0 0;
    color: #fff;
    font-weight: bold;
    margin-left: 0;
    padding:  5px;
}

.socialLinkGoogle span {
    background: rgb(252,110,81) none repeat scroll 0 0;
    border-radius: 0 10px 0 0;
    color: #fff;
    font-weight: bold;
    margin-left: 0;
    padding:  5px;
}

.socialLinkTwitter span {
    background: rgb(50,205,253) none repeat scroll 0 0;
    border-radius: 0 10px 0 0;
    color: #fff;
    font-weight: bold;
    margin-left: 0;
    padding:5px;
}

.dateNtime:before {
	font-family: fontawesome;
  /*content: "\2605";*/
	margin-left: 5px;
	content: "";
}

.authorSocial {
    border-top: 1px dashed #000;
    float: left;
    padding-top: 4px;
    width: 100%;
}



.authorSocial ul li img {
    height: 30px;
    width: 30px;
}